# Backend Configuration
NODE_ENV=development
PORT=3000

# Frontend Configuration
VITE_API_URL=http://localhost:3000/api

# GitHub Container Registry (for CI/CD)
GHCR_USERNAME=anchal-kakadia
GHCR_TOKEN=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

# VCL Deployment
VCL_HOST=csc519-109-host.csc.ncsu.edu
VCL_USER=akakadi